@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700;800&family=Inter:wght@300;400;500;600;700;800&display=swap");
@import "tailwindcss";
/* this is for the ai searchbar */
@theme {
  --color-slate-900: #212121;
  --color-slate-950: #212121;
  --color-indigo-400: #fff;
  --color-purple-400: #fff;
  --color-pink-400: #fff;
  --color-cyan-400: #fff;

  --shadow-gemini-glow: 0 0 2px #bfbfbf, 0 0 10px #bfbfbf;
  --shadow-gemini-glow-hover: 0 0 35px #bfbfbf, 0 0 60px #bfbfbf;
}

/* Base custom font and styling */

html,
body {
  background-color: #212121; /* Fallback deep slate / black */
  color: #f3f4f6;
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Outfit", sans-serif;
}

/* Full screen structure */
#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Glassmorphism custom classes */
/* .glass-panel {
  background: rgba(15, 23, 42, 0.4);
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
  border: 1px solid rgba(255, 255, 255, 0.08);
} */

.glass-panel {
  background: #01010151;
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
  border: 1px solid rgba(255, 255, 255, 0.08);
  box-shadow: 0 0 20px rgb(11, 11, 11);
}

.glass-panel-hover {
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.glass-panel-hover:hover {
  background: #1a1a1a;
  border-color: rgba(17, 16, 20, 0.3);
  box-shadow: 0 0 20px rgb(11, 11, 11);
}

.glass-input {
  color: white;
  background: #1a1a1a;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  /* border: 1px solid rgba(255, 255, 255, 0.1); */
  transition: all 0.2s ease-in-out;
}

.glass-input:focus {
  /* background: rgba(3, 7, 18, 0.7); */
  /* border-color: rgba(168, 85, 247, 0.5); */
  /* box-shadow: 0 0 10px rgba(168, 85, 247, 0.2); */
  outline: none;
}

.btn-style {
  padding: 8px;
  background-color: #212121;
  /* border: 0px solid rgb(3, 104, 141); */
  color: #bfbfbf;
  border-radius: 8px;
  transition: all 0.2 ease-in-out;
}
.btn-style:hover {
  color: #f1f1f1;
  background-color: #393939;
  border: white;
}

.internal {
  color: #bfbfbf;
}
.bg-1 {
  background-color: #212121;
  transition: all 0.2 ease-in-out;
}
.bg-2 {
  background-color: #121212;
}

/* .internal:hover {
  color: #e8e8e8;
} */
/* .bg-1:hover {
  background-color: #525252;
} */

/* Custom scrollbars */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: rgba(3, 7, 18, 0.1);
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.2);
}

/* Clean animation for typing */
@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.cursor-blink {
  animation: blink 0.8s infinite;
}
